name: deploy

on:
  push:
    branches:
    - master
    - github-actions

jobs:

  deploy:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
    - name: Build and deploy the Docker image
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        docker build . --file Dockerfile --tag sitepilot/webserver:latest
        docker push sitepilot/webserver:latest
        # Build development image
        docker build -t sitepilot/webserver:dev-latest --build-arg sitepilot/webserver:latest -f DockerfileDev .
        docker push sitepilot/webserver:dev-latest

